<?xml version="1.0" encoding="utf-8"?>
<android.support.design.widget.CoordinatorLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:id="@+id/main_content"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:fitsSystemWindows="true">
    <android.support.design.widget.AppBarLayout
        android:id="@+id/appbar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
        android:fitsSystemWindows="false">
        <android.support.v7.widget.Toolbar
            android:id="@+id/ctoolbar"
            android:layout_width="match_parent"
            android:layout_height="?attr/actionBarSize"
            app:popupTheme="@style/ThemeOverlay.AppCompat.Light"
            app:title="Appointment" />
    </android.support.design.widget.AppBarLayout>
    <android.support.v4.widget.NestedScrollView
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        app:layout_behavior="@string/appbar_scrolling_view_behavior"
        android:minWidth="25px"
        android:minHeight="25px">
        <android.support.v7.widget.CardView
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/cardView1"
            android:layout_marginTop="3.7dp">
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout1">
                <RelativeLayout
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/relativeLayout1"
                    android:padding="10dp">
                    <ImageView
                        android:src="@drawable/icons8_Checked"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:id="@+id/subjectImage"
                        android:layout_centerVertical="true"
                        android:layout_marginRight="12.7dp" />
                    <android.support.design.widget.TextInputEditText
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:id="@+id/textInputEditText1"
                        android:layout_toRightOf="@id/subjectImage"
                        android:hint="Subject" />
                </RelativeLayout>
                <RelativeLayout
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/relativeLayout1"
                    android:padding="10dp">
                    <ImageView
                        android:src="@drawable/icons8_geo_fence_24px"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:id="@+id/locationImage"
                        android:layout_centerVertical="true"
                        android:layout_marginRight="12.7dp" />
                    <android.support.design.widget.TextInputEditText
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:id="@+id/textInputEditText1"
                        android:layout_toRightOf="@id/locationImage"
                        android:hint="Location" />
                </RelativeLayout>
                <View
                    style="@style/Divider"
                    android:id="@+id/view1"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="10dp" />
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/linearLayout2">
                    <RelativeLayout
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:id="@+id/relativeLayout1"
                        android:padding="10dp"
                        android:layout_width="wrap_content"
                        android:layout_height="match_parent"
                        android:layout_weight="1">
                        <ImageView
                            android:src="@drawable/icons8_manager_24px"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:id="@+id/regardingImage"
                            android:layout_centerVertical="true"
                            android:layout_marginRight="12.7dp" />
                        <android.support.design.widget.TextInputEditText
                            android:layout_width="match_parent"
                            android:layout_height="match_parent"
                            android:id="@+id/textInputEditText1"
                            android:layout_toRightOf="@id/regardingImage"
                            android:hint="For User" />
                    </RelativeLayout>
                    <RelativeLayout
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:id="@+id/relativeLayout1"
                        android:padding="10dp"
                        android:layout_width="wrap_content"
                        android:layout_height="match_parent"
                        android:layout_weight="1">
                        <ImageView
                            android:src="@drawable/icons8_work_24px"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:id="@+id/regardingImage"
                            android:layout_centerVertical="true"
                            android:layout_marginRight="12.7dp" />
                        <android.support.design.widget.TextInputEditText
                            android:layout_width="match_parent"
                            android:layout_height="match_parent"
                            android:id="@+id/textInputEditText1"
                            android:layout_toRightOf="@id/regardingImage"
                            android:hint="Regarding" />
                    </RelativeLayout>
                </LinearLayout>
                <View
                    style="@style/Divider"
                    android:id="@+id/view1"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="10dp" />
                <RelativeLayout
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/relativeLayout1"
                    android:padding="10dp">
                    <ImageView
                        android:src="@drawable/icons8_meeting_24px"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:id="@+id/CategoryImage"
                        android:layout_centerVertical="true"
                        android:layout_marginRight="12.7dp"
                        android:background="@drawable/circle"
                        android:tint="#ffffffff" />
                    <fr.ganfra.materialspinner.MaterialSpinner
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_toRightOf="@id/CategoryImage"
                        android:id="@+id/materialSpinner1"
                        app:ms_hint="Category" />
                </RelativeLayout>
                <View
                    style="@style/Divider"
                    android:id="@+id/view1"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content" />
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/linearLayout2">
                    <RelativeLayout
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:id="@+id/startLayout"
                        android:padding="15dp"
                        android:layout_width="wrap_content"
                        android:layout_height="match_parent"
                        android:layout_weight="1"
                        android:clickable="true"
                        android:focusable="true"
                        android:background="?attr/selectableItemBackground">
                        <ImageView
                            android:src="@drawable/icons8_past_24px"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:id="@+id/regardingImage"
                            android:layout_centerVertical="true"
                            android:layout_marginRight="12.7dp" />
                        <TextView
                            android:text="Start"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_toLeftOf="@id/textInputEditText1"
                            android:id="@+id/textView1"
                            android:layout_toRightOf="@id/regardingImage"
                            android:layout_centerHorizontal="false"
                            android:layout_centerVertical="false" />
                        <ImageView
                            android:src="@drawable/icons8_forward"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:id="@+id/imageView1"
                            android:layout_alignParentEnd="true"
                            android:layout_centerVertical="true" />
                        <TextView
                            android:text="Start Date"
                            android:textAppearance="?android:attr/textAppearanceSmall"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_below="@id/textView1"
                            android:id="@+id/starttext"
                            android:layout_alignStart="@id/textView1"
                            android:textSize="10dp" />
                    </RelativeLayout>
                    <RelativeLayout
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:id="@+id/endLayout"
                        android:padding="15dp"
                        android:layout_width="wrap_content"
                        android:layout_height="match_parent"
                        android:layout_weight="1"
                        android:clickable="true"
                        android:focusable="true"
                        android:background="?attr/selectableItemBackground">
                        <ImageView
                            android:src="@drawable/icons8_future_24px"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:id="@+id/endimage"
                            android:layout_centerVertical="true"
                            android:layout_marginRight="12.7dp" />
                        <TextView
                            android:text="End"
                            android:textAppearance="?android:attr/textAppearanceMedium"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:id="@+id/textView2"
                            android:layout_toRightOf="@+id/endimage" />
                        <ImageView
                            android:src="@drawable/icons8_forward"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:id="@+id/imageView1"
                            android:layout_alignParentEnd="true"
                            android:layout_centerVertical="true" />
                        <TextView
                            android:text="End Date"
                            android:textAppearance="?android:attr/textAppearanceSmall"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_below="@id/textView2"
                            android:id="@+id/endtext"
                            android:layout_alignStart="@id/textView2"
                            android:textSize="10dp" />
                    </RelativeLayout>
                </LinearLayout>
            </LinearLayout>
        </android.support.v7.widget.CardView>
    </android.support.v4.widget.NestedScrollView>
</android.support.design.widget.CoordinatorLayout>