<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:minWidth="400dp"
    android:minHeight="200dp"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/linearLayout3"
    android:fitsSystemWindows="true">
    <android.support.v7.widget.Toolbar
        android:id="@+id/ctoolbar"
        android:layout_width="match_parent"
        android:layout_height="?attr/actionBarSize"
        android:background="?attr/colorPrimary"
        app:popupTheme="@style/ThemeOverlay.AppCompat.Light"
        app:title="Product"
        android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"
        android:minWidth="25px"
        android:minHeight="25px">
        <ImageButton
            android:src="@drawable/icons8_multiply"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/CloseButton"
            android:foregroundGravity="right"
            android:layout_gravity="right"
            android:layout_marginRight="15dp"
            android:background="?attr/selectableItemBackgroundBorderless" />
    </android.support.v7.widget.Toolbar>
    <RelativeLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/relativeLayout1">
        <android.support.v4.widget.NestedScrollView
            android:layout_width="match_parent"
            android:layout_height="200dp"
            app:layout_behavior="@string/appbar_scrolling_view_behavior"
            android:fillViewport="true"
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/scview">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout4"
                android:paddingTop="10dp"
                android:paddingLeft="14dp"
                android:paddingRight="14dp"
                android:paddingBottom="10dp">
                <TextView
                    android:text="Product No."
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/textView8" />
                <TextView
                    android:text="10052"
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/textView10" />
                <RelativeLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/relativeLayout3">
                    <NumberPicker
                        android:id="@+id/numberPicker1"
                        android:layout_width="40dp"
                        android:layout_height="60dp"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_alignParentEnd="true"
                        android:theme="@style/DefaultNumberPickerTheme" />
                    <TextView
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:id="@+id/textView7"
                        android:layout_centerVertical="true"
                        android:text="Quantity" />
                </RelativeLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/linearLayout5"
                    android:layout_marginBottom="7.3dp">
                    <TextView
                        android:text="Measure"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:id="@+id/textView9"
                        android:layout_width="wrap_content"
                        android:layout_height="match_parent" />
                    <TextView
                        android:text="Small Text"
                        android:textAppearance="?android:attr/textAppearanceSmall"
                        android:id="@+id/textView13"
                        android:layout_width="wrap_content"
                        android:layout_height="match_parent" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/linearLayout6"
                    android:layout_marginBottom="7.3dp">
                    <TextView
                        android:text="Price"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:id="@+id/textView11"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content" />
                    <TextView
                        android:text="Small Text"
                        android:textAppearance="?android:attr/textAppearanceSmall"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/textView12" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/linearLayout7">
                    <TextView
                        android:text="VAT[%]"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/textView14" />
                    <TextView
                        android:text="Small Text"
                        android:textAppearance="?android:attr/textAppearanceSmall"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/textView15" />
                </LinearLayout>
            </LinearLayout>
        </android.support.v4.widget.NestedScrollView>
        <RelativeLayout
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/relativeLayout2"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/scview"
            android:padding="20dp"
            android:layout_marginTop="11.3dp">
            <TextView
                android:text="DELETE"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/deletebutton"
                android:textColor="@color/redcolor"
                android:textStyle="bold"
                android:background="?attr/selectableItemBackgroundBorderless"
                android:clickable="true"
                android:textSize="15dp" />
            <TextView
                android:text="SAVE"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/savebutton"
                android:layout_alignParentEnd="true"
                android:textStyle="bold"
                android:textColor="@color/greencolor"
                android:background="?attr/selectableItemBackgroundBorderless"
                android:clickable="true"
                android:textSize="15dp" />
            <TextView
                android:text="CANCEL"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_toLeftOf="@+id/savebutton"
                android:id="@+id/cancelbutton"
                android:layout_marginRight="24dp"
                android:background="?attr/selectableItemBackgroundBorderless"
                android:clickable="true"
                android:textSize="15dp" />
        </RelativeLayout>
    </RelativeLayout>
</LinearLayout>